<!DOCTYPE html>
<html lang="en">
  <!--Remove CSS
  <head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
          rel="stylesheet">

  </head>
  -->

  <body>
    <div class="container">
      <div class="header">
        <h3 class="text-muted">Image Resizer</h3>
      </div>
      <hr/>
      <div>
	  <!--<a href="{{ url_for('download', filename=filename) }}">Download</a>-->
	  <p>Original File Size: {{filesize_original}} KB</p>
	  <p>Resized File Size: {{filesize_resized}} KB</p>
      <form action="download" method="GET" enctype="multipart/form-data"> <!--"upload" is the directory where the action takes place-->

		<input type="submit" value="Download">

      </form>
      </div>
    </div>
  </body>
</html>
 